<nav class="sideNav">
                <ul>
                    <li><a href="recipetithomepage.ejs">HOME</a></li>
                    <li><a href="recipetitAdd.ejs">ADD RECIPE</a></li>
                    <li><a href="recipetitView.ejs">VIEW RECIPES</a></li>
                    <li><a href="recipetitReview.ejs">RECIPE REVIEWS</a></li>
                    <!-- <li><a href="recipetitReviewAdd.ejs">ADD REVIEW</a></li> -->
                    <li><a href="recipetitCart.ejs">CART</a></li> 
                </ul>