<nav class="sideNav">
                <ul>
                    <li><a href="../pages/recipetithomepage.ejs">HOME</a></li>
                    <li><a href="../pages/recipetitAdd.ejs">ADD RECIPE</a></li>
                    <li><a href="../pages/recipetitView.ejs">VIEW RECIPES</a></li>
                    <li><a href="../pages/recipetitReview.ejs">RECIPE REVIEWS</a></li>
                    <!-- <li><a href="../pages/recipetitReviewAdd.ejs">ADD REVIEW</a></li> -->
                    <li><a href="../pages/recipetitCart.ejs">CART</a></li> 
                </ul>