<!DOCTYPE html>

<html lang="en">

<head>

    <title>CS 313 | HOME</title>
    <meta charset="utf-8" />
    <base href="/"> 
    <link  type="text/css" rel="stylesheet" href="/stylesheets/myhome.css"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">

</head>

<body>

    <% include ../partials/recipetitheader.ejs %>
     <?php include ("recipetitheader.php"); ?>         


    <main>
        <div>
            <% include ../partials/recipetitnav.ejs %>
            <?php include ("recipetitnav.php"); ?> 
        </div>


        <h1 class="recipeHeader">Welcome to Recipetit! This is a place where you can create, save, and edit your own recipes.</h1>

    </main>

    <footer>
        <% include ../partials/recipetitfooter.ejs %>
        <?php include ("recipetitfooter.php"); ?> 
          
    </footer>

</body>

</html>
