<!DOCTYPE html>

<html lang="en">

<head>

    <title>CS 313 | HOME</title>
    <meta charset="utf-8" />
    <base href="/"> 
    <link  type="text/css" rel="stylesheet" href="/stylesheets/myhome.css"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">

</head>

<body>

    <% include ../partials/recipetitheader.ejs %>
    


    <main>
        <div>
            <% include ../partials/recipetitnav.ejs %>
           
        </div>


        <h1 class="recipeHeader">Welcome to Recipetit! This is a place where you can create, save, and edit your own recipes.</h1>

    </main>

    <footer>
        <% include ../partials/recipetitfooter.ejs %>
       
          
    </footer>

</body>

</html>
