<?php
require('dbConnect.php');
$db = get_db();

$query = 'SELECT id, name, cook_time, oven_temp, ingredients, instructions FROM recipe';
$stmt = $db->prepare($query);
$stmt->execute();
$recipes = $stmt->fetchALL(PDO::FETCH_ASSOC);


?>
<!DOCTYPE html>

<html lang="en">

<head>

    <title>CS 313 | SHOPPING</title>
    <meta charset="utf-8" />
     <base href="/"> 
    <link  type="text/css" rel="stylesheet" href="/stylesheets/myhome.css"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">

</head>

<body>

    
    <% include ../partials/recipetitheader.ejs %>
     


    <main>
        <div>

             <% include ../partials/recipetitnav.ejs %>

            
        </div>

        <h1 class="recipeHeader">Click on a recipe name to view full recipe</h1>
        

        <ul>
            <% recipes.forEach(function(recipe) { %>
            <li><%= recipe.name %></li>
            <% }); %>
        </ul>


       


    </main>

    <script src="recipetitScripts.js"></script>

    <footer>

 <% include ../partials/recipetitfooter.ejs %>
       
    </footer>

</body>

</html>
